* {
  margin: 0;
}
html {
  font-size: 20px;
}
.abs {
  background-color: blueviolet;
  width: 10cm;
}
.div2 {
  background-color: chocolate;
  width: 50%;
  height: 30vh;
}
.div3 {
  background-color: bisque;
  width: 50%;
  height: 50%;
}
.div4 {
  background-color: cornflowerblue;
  width: 60vh;
  height: 2rem;
}

.div5 {
  font-size: 25px;
}
.div6 {
  font-size: 2em;
}
.div7 {
  font-size: 2em;
}
.div8 {
  font-size: 25px;
}
.div9 {
  font-size: 5rem;
}
.div10 {
  font-size: 5rem;
}
